#enemy-ship-list {
    height: 600px;
    margin-left: 10px;
}

#game-container {
    display: flex;
    /* height: 600px; */
    /* display: inline-block; */
}

.ship-item {
    display: inline;
}

#board {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    border: 1px solid blue;
}

.grid {
    border: 1px solid blue;
}

.water {
    background-color: blue;
}

.hit {
    background-color: red;
}
