:root {
    --width: 740px;
    --height: calc((var(--width) / 100) * 75);
}

p {
    margin: 0;
    background-color: white;
}

#game-container {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 67% 33%;
    grid-template-areas: 
        "A B"
        "A C";
    width: var(--width);
    height: var(--height);
    background-color: blue;
}

#board {
    grid-area: A;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    border: 1px solid white;
}

#ship-list {
    position: relative;
    grid-area: B;
    font-size: 20px;
    color: white;
    padding: 10px 10px 0px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}

#reset-ready {
    position: absolute;
    bottom: 0;
}

#player-board {
    grid-area: C;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    border: 1px solid white;
}

.ship-item {
    /* display: flex; */
    color: black;
}

.ship-grid {
    display: inline-flex;
    margin: 5px 0px;
}

.ship-grid:hover {
    background-color: lightgray;
    cursor: pointer;
}

.ship-grid .grid {
    width: 19px;
    height: 19px;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;
    border: 1px solid white;
}

.ship {
    background-color: lightgray;
}

.hit {
    background-color: red;
}

.overlap {
    background-color: red;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

