body {
    width: 740px;
}

#enemy-ship-list {
    width: 128px;
    font-size: 20px;
    color: white;
    padding: 10px 10px 0px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}

#game-container {
    /* width: 700px; */
    background-color: blue;
    display: flex;
    /* height: 600px; */
    /* display: inline-block; */
}

.ship-item {
    display: inline;
    background-color: white;
    color: black;
}

#board {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    /* border-style: outset; */
    border: 1px solid white;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;
    border: 1px solid white;
}

.ship {
    background-color: lightgray;
}

.water {
    /* background-color: blue; */
}

.hit {
    background-color: red;
}
